* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Iosevka;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  border: none;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  background: rgba(0, 0, 0, 0);
}

#workspaces {
  margin: 0;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  box-shadow: inset 0 -3px #d9d9d9;
}

#workspaces button.focused {
  background: #333;
  padding: 5px;
  margin: 1px 5px;
  border-radius: 10px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

/* #clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
} */

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

.modules-right > * > *,
.modules-center > * > * {
  background: #333;
  padding: 5px 15px;
  margin: 1px 5px;
  border-radius: 10px;
}
